In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import plotly.express as px

In [2]:
scan_1 = pd.read_csv("nap-scan.csv")
scan_2 = pd.read_csv("nap-scan-2.csv")
cols = ["ApId",
"NApMacAddress",
"LastCheckinTime",
"LastStatusId",         
"SSID",                 
"TSF",                  
"Frequency",            
"Rssi",                  
"PrimaryChannel",       
"SecondaryChannel",     
"ChannelWidth",         
"StaChannelWidth",      
"FirstCenterFrequency", 
"SecondCenterFrequency",
"Authentication",       
"Security"]
scan_1.columns = cols
# checking the column 
print(scan_2[r'\N'].value_counts(), len(scan_2[r'\N']))
# seems like the \N col is having only newline values dropping it 
scan_2 = scan_2.drop(r"\N", axis = 1 ) 
scan_2.columns = cols
total_scan = scan_1.append(scan_2, ignore_index=True)

\N    5259
Name: \N, dtype: int64 5259

/tmp/ipykernel_12851/3795742374.py:25: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  total_scan = scan_1.append(scan_2, ignore_index=True)

In [3]:
total_scan

,ApId,NApMacAddress,LastCheckinTime,LastStatusId,SSID,TSF,Frequency,Rssi,PrimaryChannel,SecondaryChannel,ChannelWidth,StaChannelWidth,FirstCenterFrequency,SecondCenterFrequency,Authentication,Security
0,297,EA:48:B8:C2:6F:BC,2022-04-05 04:46:18,1275036,x20Free_Wi-Fi,3806851836,11,-59,11,0,NaN,20,NaN,NaN,NaN,NaN
1,320,04:95:E6:9E:80:78,2022-04-07 10:12:19,1298899,L.S.C,43136848531,10,-72,10,0,NaN,20,NaN,NaN,PSK,CCMP
2,320,04:95:E6:A6:50:90,2022-04-07 10:12:19,1298899,Singla,45709517200,2,-83,2,0,NaN,any,NaN,NaN,PSK,CCMP
3,320,32:84:2F:EB:A5:40,2022-04-07 10:12:19,1298899,Redmi 9A,1276727306001,11,-85,11,0,0.0,20,0.0,0.0,PSK,CCMP
4,320,34:CE:00:23:5D:00,2022-04-07 10:12:19,1298899,Xiaomi_5CFF,12711629212,1,-84,1,0,NaN,20,NaN,NaN,PSK,TKIP CCMP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198,2187,72:6D:EC:0A:4C:23,2022-04-11 11:39:33,15711825,NaN,369069911408,153,-55,127,0,0.0,20,153.0,0.0,PSK,CCMP TKIP
6199,2187,72:6D:EC:0A:83:33,2022-04-11 11:39:33,15711825,INDIO-cast-failover,525933864222,149,-51,127,0,1.0,any,155.0,0.0,PSK,CCMP TKIP
6200,2187,72:6D:EC:0A:8A:17,2022-04-11 11:39:33,15711825,INDIO-cast-failover,5466269661876,52,-49,52,0,1.0,any,58.0,0.0,PSK,CCMP TKIP
6201,2187,76:6D:EC:0A:4C:23,2022-04-11 11:39:33,15711825,NaN,369069945541,153,-55,127,0,0.0,20,153.0,0.0,PSK,CCMP TKIP
6202,2187,E8:6F:38:29:FD:E9,2022-04-11 11:39:33,15711825,HP-Print-E9-LaserJet Pro MFP,605006027586,6,-54,6,0,NaN,20,NaN,NaN,NaN,NaN

In [4]:
total_scan.isna().sum()

ApId                        0
NApMacAddress               0
LastCheckinTime             0
LastStatusId                0
SSID                      330
TSF                         0
Frequency                   0
Rssi                        0
PrimaryChannel              0
SecondaryChannel            0
ChannelWidth             4998
StaChannelWidth           185
FirstCenterFrequency     4998
SecondCenterFrequency    4998
Authentication           1774
Security                 1774
dtype: int64

In [5]:
cont_features = ["Rssi","ChannelWidth",]# StaChannelWidth,FirstCenterFrequency
to_predict = ["PrimaryChannel"]

In [6]:
total_scan.PrimaryChannel.value_counts()

11     1604
1      1545
6       735
127     488
10      218
0       185
9       156
36      154
2       131
52      131
8       127
7       110
4       103
3        98
5        83
13       73
40       69
44       65
48       34
60       24
64       18
116      11
12       11
100      10
56        9
108       9
104       1
124       1
Name: PrimaryChannel, dtype: int64

In [7]:
total_scan.dtypes

ApId                       int64
NApMacAddress             object
LastCheckinTime           object
LastStatusId               int64
SSID                      object
TSF                        int64
Frequency                  int64
Rssi                       int64
PrimaryChannel             int64
SecondaryChannel           int64
ChannelWidth             float64
StaChannelWidth           object
FirstCenterFrequency     float64
SecondCenterFrequency    float64
Authentication            object
Security                  object
dtype: object

In [9]:
from pycaret.classification import *

# creaing setup 
expt = setup(total_scan,target="PrimaryChannel",numeric_features =cont_features, preprocess = True ,  normalize = True , silent = True, 
use_gpu=True 
)

In [10]:
best = compare_models()

In [11]:
model = create_model(best)

In [16]:
# saving compared models 
save_model(best, "compare_model_res")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['Rssi',
                                                           'ChannelWidth'],
                                       target='PrimaryChannel',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_valu...
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         presort='deprecated', random_state=2704,
                                         splitter='best')]],
          verbose=False),
 'compare_model_res.pkl')

In [15]:
save_model(model , "dt")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=None,
          steps=[('dtypes',
                  DataTypes_Auto_infer(categorical_features=[],
                                       display_types=False, features_todrop=[],
                                       id_columns=[],
                                       ml_usecase='classification',
                                       numerical_features=['Rssi',
                                                           'ChannelWidth'],
                                       target='PrimaryChannel',
                                       time_features=[])),
                 ('imputer',
                  Simple_Imputer(categorical_strategy='not_available',
                                 fill_value_categorical=None,
                                 fill_valu...
                 ('dfs', 'passthrough'), ('pca', 'passthrough'),
                 ['trained_model',
                  DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                         criterion='gini', max_depth=None,
                                         max_features=None, max_leaf_nodes=None,
                                         min_impurity_decrease=0.0,
                                         min_impurity_split=None,
                                         min_samples_leaf=1, min_samples_split=2,
                                         min_weight_fraction_leaf=0.0,
                                         presort='deprecated', random_state=2704,
                                         splitter='best')]],
          verbose=False),
 'dt.pkl')

In [12]:
def create_graph(node, df):
    node_data = df.query(f"ApId == {node}")
    print(node_data)

In [36]:
total_scan.query("ApId == 297")

,ApId,NApMacAddress,LastCheckinTime,LastStatusId,SSID,TSF,Frequency,Rssi,PrimaryChannel,SecondaryChannel,ChannelWidth,StaChannelWidth,FirstCenterFrequency,SecondCenterFrequency,Authentication,Security
0,297,EA:48:B8:C2:6F:BC,2022-04-05 04:46:18,1275036,x20Free_Wi-Fi,3806851836,11,-59,11,0,NaN,20,NaN,NaN,NaN,NaN

In [38]:
total_scan.ApId.value_counts()

678     71
719     63
967     51
2138    48
1565    47
        ..
1397     1
1444     1
1454     1
864      1
297      1
Name: ApId, Length: 422, dtype: int64

In [39]:
create_graph(1565, total_scan)

      ApId      NApMacAddress      LastCheckinTime  LastStatusId  \
3751  1565  00:95:69:E0:41:D2  2022-04-09 04:22:33      15587861
3752  1565  00:A0:0A:24:1F:D0  2022-04-09 04:22:33      15587861
3753  1565  00:A0:0A:27:52:50  2022-04-09 04:22:33      15587861
3754  1565  00:A0:0A:2A:72:C0  2022-04-09 04:22:33      15587861
3755  1565  0C:D2:B5:4B:B0:42  2022-04-09 04:22:33      15587861
3756  1565  20:DB:AB:37:8D:80  2022-04-09 04:22:33      15587861
3757  1565  20:DB:AB:37:8D:81  2022-04-09 04:22:33      15587861
3758  1565  20:DB:AB:37:8D:E0  2022-04-09 04:22:33      15587861
3759  1565  20:DB:AB:37:8D:E1  2022-04-09 04:22:33      15587861
3760  1565  20:DB:AB:37:8D:EE  2022-04-09 04:22:33      15587861
3761  1565  20:DB:AB:37:8D:EF  2022-04-09 04:22:33      15587861
3762  1565  20:DB:AB:37:8E:10  2022-04-09 04:22:33      15587861
3763  1565  20:DB:AB:37:8E:11  2022-04-09 04:22:33      15587861
3764  1565  20:DB:AB:37:8E:1E  2022-04-09 04:22:33      15587861
3765  1565  20:DB:AB:37:8E:1F  2022-04-09 04:22:33      15587861
3766  1565  20:DB:AB:37:8E:70  2022-04-09 04:22:33      15587861
3767  1565  20:DB:AB:37:8E:71  2022-04-09 04:22:33      15587861
3768  1565  20:DB:AB:37:8E:7E  2022-04-09 04:22:33      15587861
3769  1565  20:DB:AB:37:8E:7F  2022-04-09 04:22:33      15587861
3770  1565  20:DB:AB:37:E8:A0  2022-04-09 04:22:33      15587861
3771  1565  20:DB:AB:38:06:D0  2022-04-09 04:22:33      15587861
3772  1565  20:DB:AB:38:06:D1  2022-04-09 04:22:33      15587861
3773  1565  20:DB:AB:38:06:DE  2022-04-09 04:22:33      15587861
3774  1565  20:DB:AB:38:06:DF  2022-04-09 04:22:33      15587861
3775  1565  20:DB:AB:99:90:10  2022-04-09 04:22:33      15587861
3776  1565  20:DB:AB:A1:B1:40  2022-04-09 04:22:33      15587861
3777  1565  20:DB:AB:A1:B1:41  2022-04-09 04:22:33      15587861
3778  1565  20:DB:AB:A1:B1:4E  2022-04-09 04:22:33      15587861
3779  1565  20:DB:AB:A1:B1:4F  2022-04-09 04:22:33      15587861
3780  1565  20:DB:AB:A6:C8:40  2022-04-09 04:22:33      15587861
3781  1565  20:DB:AB:A6:C8:41  2022-04-09 04:22:33      15587861
3782  1565  20:DB:AB:A6:C8:4E  2022-04-09 04:22:33      15587861
3783  1565  20:DB:AB:A6:C8:4F  2022-04-09 04:22:33      15587861
3784  1565  20:DB:AB:A6:C8:6E  2022-04-09 04:22:33      15587861
3785  1565  20:DB:AB:A6:C8:6F  2022-04-09 04:22:33      15587861
3786  1565  20:DB:AB:A7:58:F0  2022-04-09 04:22:33      15587861
3787  1565  20:DB:AB:A7:58:F1  2022-04-09 04:22:33      15587861
3788  1565  20:DB:AB:A7:58:FE  2022-04-09 04:22:33      15587861
3789  1565  20:DB:AB:A7:58:FF  2022-04-09 04:22:33      15587861
3790  1565  20:DB:AB:AE:22:BE  2022-04-09 04:22:33      15587861
3791  1565  20:DB:AB:AE:22:BF  2022-04-09 04:22:33      15587861
3792  1565  5E:76:00:5F:DE:A5  2022-04-09 04:22:33      15587861
3793  1565  6C:19:8F:BB:3C:52  2022-04-09 04:22:33      15587861
3794  1565  70:6D:EC:0A:82:E4  2022-04-09 04:22:33      15587861
3795  1565  70:6D:EC:0A:83:B8  2022-04-09 04:22:33      15587861
3796  1565  70:6D:EC:0A:85:10  2022-04-09 04:22:33      15587861
3797  1565  74:DA:DA:B9:0D:9E  2022-04-09 04:22:33      15587861

                   SSID            TSF  Frequency  Rssi  PrimaryChannel  \
3751         Cos-Link00   737778483570         11   -85              11
3752      JioPrivateNet        6264977          1   -82               1
3753      JioPrivateNet         390969         11   -83              11
3754      JioPrivateNet  1780665447459        157   -86             127
3755       SAYAJI HOTEL     1049104188         11   -53              11
3756             JioNet  4607504811884         60   -68              60
3757      JioPrivateNet  4607504761241         60   -67              60
3758             JioNet  4607508903245         48   -68              48
3759      JioPrivateNet  4607508853354         48   -67              48
3760      JioPrivateNet  4607490286261          6   -61               6
3761             JioNet  4607490157049          6   -65               6
3762             JioNet  4607159098140         52   -67              52
3763      JioPrivateNet  4607159047478         52   -66              52
3764      JioPrivateNet  4607146991074          6   -71               6
3765             JioNet  4607147075276          6   -79               6
3766             JioNet  4607477983139        165   -76             127
3767      JioPrivateNet  4607477932482        165   -76             127
3768      JioPrivateNet  4607468187866         11   -45              11
3769             JioNet  4607468170247         11   -52              11
3770             JioNet  4607548891195        149   -89             127
3771             JioNet  4607526960352         44   -85              44
3772      JioPrivateNet  4607526909694         44   -84              44
3773      JioPrivateNet  4607494517120          6   -81               6
3774             JioNet  4607494619520          6   -77               6
3775             JioNet  4607503184465        149   -85             127
3776             JioNet  4607555241840         36   -49              36
3777      JioPrivateNet  4607555191258         36   -51              36
3778      JioPrivateNet  4607509239270         11   -55              11
3779             JioNet  4607509256928         11   -57              11
3780             JioNet  4607505682760        157   -81             127
3781      JioPrivateNet  4607505632093        157   -82             127
3782      JioPrivateNet  4607504362112          1   -76               1
3783             JioNet  4607504491523          1   -76               1
3784      JioPrivateNet    28895683362         11   -76              11
3785             JioNet    28895715479         11   -75              11
3786             JioNet    28896863963        157   -74             127
3787      JioPrivateNet    28896813300        157   -75             127
3788      JioPrivateNet    28888451822         11   -58              11
3789             JioNet    28888480003         11   -58              11
3790      JioPrivateNet  4607529945651          6   -68               6
3791             JioNet  4607529831237          6   -80               6
3792       Hasan....10S     3484402689         11   -50              11
3793       SAYAJI HOTEL      232709659          1   -66               1
3794       SAYAJI HOTEL    52494745984          1   -92               1
3795       SAYAJI HOTEL    52495159732          1   -67               1
3796              admin     2135961984          1   -56               1
3797  Airtel_7389933182      238182809          8   -84               8

      SecondaryChannel  ChannelWidth StaChannelWidth  FirstCenterFrequency  \
3751                 0           NaN              20                   NaN
3752                 0           NaN              20                   NaN
3753                 0           NaN              20                   NaN
3754                 0           0.0             any                   0.0
3755                 0           NaN             any                   NaN
3756                 0           0.0             any                   0.0
3757                 0           0.0             any                   0.0
3758                 0           0.0             any                   0.0
3759                 0           0.0             any                   0.0
3760                 0           NaN              20                   NaN
3761                 0           NaN              20                   NaN
3762                 0           0.0             any                   0.0
3763                 0           0.0             any                   0.0
3764                 0           NaN              20                   NaN
3765                 0           NaN              20                   NaN
3766                 0           0.0             any                   0.0
3767                 0           0.0             any                   0.0
3768                 0           NaN              20                   NaN
3769                 0           NaN              20                   NaN
3770                 0           0.0             any                   0.0
3771                 0           0.0             any                   0.0
3772                 0           0.0             any                   0.0
3773                 0           NaN              20                   NaN
3774                 0           NaN              20                   NaN
3775                 0           0.0             any                   0.0
3776                 0           0.0             any                   0.0
3777                 0           0.0             any                   0.0
3778                 0           NaN              20                   NaN
3779                 0           NaN              20                   NaN
3780                 0           0.0             any                   0.0
3781                 0           0.0             any                   0.0
3782                 0           NaN              20                   NaN
3783                 0           NaN              20                   NaN
3784                 0           NaN              20                   NaN
3785                 0           NaN              20                   NaN
3786                 0           0.0             any                   0.0
3787                 0           0.0             any                   0.0
3788                 0           NaN              20                   NaN
3789                 0           NaN              20                   NaN
3790                 0           NaN              20                   NaN
3791                 0           NaN              20                   NaN
3792                 0           0.0              20                   0.0
3793                 0           NaN              20                   NaN
3794                 0           NaN              20                   NaN
3795                 0           NaN              20                   NaN
3796                 0           NaN              20                   NaN
3797                 0           NaN             any                   NaN

      SecondCenterFrequency        Authentication   Security
3751                    NaN                   PSK       CCMP
3752                    NaN           IEEE 802.1X       CCMP
3753                    NaN           IEEE 802.1X       CCMP
3754                    0.0           IEEE 802.1X       CCMP
3755                    NaN                   NaN        NaN
3756                    0.0                   NaN        NaN
3757                    0.0  IEEE 802.1X FT/IEEE        CCMP
3758                    0.0                   NaN        NaN
3759                    0.0  IEEE 802.1X FT/IEEE        CCMP
3760                    NaN  IEEE 802.1X FT/IEEE        CCMP
3761                    NaN                   NaN        NaN
3762                    0.0                   NaN        NaN
3763                    0.0  IEEE 802.1X FT/IEEE        CCMP
3764                    NaN  IEEE 802.1X FT/IEEE        CCMP
3765                    NaN                   NaN        NaN
3766                    0.0                   NaN        NaN
3767                    0.0  IEEE 802.1X FT/IEEE        CCMP
3768                    NaN  IEEE 802.1X FT/IEEE        CCMP
3769                    NaN                   NaN        NaN
3770                    0.0                   NaN        NaN
3771                    0.0                   NaN        NaN
3772                    0.0  IEEE 802.1X FT/IEEE        CCMP
3773                    NaN  IEEE 802.1X FT/IEEE        CCMP
3774                    NaN                   NaN        NaN
3775                    0.0                   NaN        NaN
3776                    0.0                   NaN        NaN
3777                    0.0  IEEE 802.1X FT/IEEE        CCMP
3778                    NaN  IEEE 802.1X FT/IEEE        CCMP
3779                    NaN                   NaN        NaN
3780                    0.0                   NaN        NaN
3781                    0.0  IEEE 802.1X FT/IEEE        CCMP
3782                    NaN  IEEE 802.1X FT/IEEE        CCMP
3783                    NaN                   NaN        NaN
3784                    NaN  IEEE 802.1X FT/IEEE        CCMP
3785                    NaN                   NaN        NaN
3786                    0.0                   NaN        NaN
3787                    0.0  IEEE 802.1X FT/IEEE        CCMP
3788                    NaN  IEEE 802.1X FT/IEEE        CCMP
3789                    NaN                   NaN        NaN
3790                    NaN  IEEE 802.1X FT/IEEE        CCMP
3791                    NaN                   NaN        NaN
3792                    0.0                   PSK       CCMP
3793                    NaN                   NaN        NaN
3794                    NaN                   NaN        NaN
3795                    NaN                   NaN        NaN
3796                    NaN                   PSK  CCMP TKIP
3797                    NaN                   PSK  TKIP CCMP

## Tasks to do: 
1. Create the graph showing all the nodes, color it with the channels they are connecting 
2. Try to take input into the batches i.e all the channels which the network can see according to these batches make sure that the network is running in the optimum condition for all the nodes with the distance.